{% extends "learning_logs/base.html" %}

{% block header %}
  <div class='jumbotron'>
     <h1>Your Gallery</h1>
  </div>
{% endblock header %}

{% block content %}

  <h2>This is a lovely photo</h2>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1280px-Image_created_with_a_mobile_phone.png" alt="Trulli" width="500" height="333">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Tourism_in_London795.jpg/800px-Tourism_in_London795.jpg"alt="Trulli" width="500" height="333">

{% endblock content %}



